@import "styles/variables";

.LoginWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#ffffff90, #ffffff),
        url(../../assets/images/backgrounds/login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
    overflow: hidden auto;

    .LoginLogo {
        display: flex;
        align-items: center;
        width: 100%;
        height: 150px;
        margin-left: 10%;
        font-size: 35px;
    }

    .LoginContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100% - 150px);
        width: 100%;
        margin-left: 10%;

        .LoginWelcome {
            font-size: $xl;
            font-weight: 700;
            color: #333333;
        }

        .LoginForgotPassword {
            font-size: $m;
            margin-top: 5px;
            display: flex;
            justify-content: flex-end;
        }

        .isLink {
            cursor: pointer;

            &:hover {
                color: $primaryColor;
            }
        }

        .LoginButton {
            margin-top: 30px;
            width: 100%;
        }

        form {
            margin-top: 20px;
            width: 350px;

            em {
                color: $primaryColor;
                font-weight: 700;
            }
        }
    }

    &.__isMobile {
        padding: 0 20px;
        .LoginLogo {
            margin-left: 0;
        }

        .LoginLogo,
        .LoginContent {
            margin-left: 0;
        }

        form {
            width: 100%;
        }
    }
}
