@import "styles/variables";

.Error500_Meanwhile_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    div:last-child {
        margin-top: 10px;
    }

    .Error500_Option {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            color: $primaryColor;
        }

        span,
        em {
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 768px) {
    .ant-result {
        padding: 0 !important;
    }
}
