@import "styles/variables";

.Selectable {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    //border-radius: 5px;

    .Selectable_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        font-size: 1em;
        padding: 0 5px;
        span {
            flex: 9;
            font-weight: bold;
        }
        input {
            flex: 1;
            text-align: right;
            border-radius: 5px;
            padding: 5px 5px 5px 10px;
            line-height: 14px;
            border: 1px solid lightslategray;
            color: #434343;
        }
    }
    .Selectable_tabs {
        display: block;
        width: 100%;
        .Selectable_tab {
            display: inline-flex;
            align-items: center;
            width: auto;
            height: 50px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            background: #fff;
            padding: 20px;
            cursor: pointer;
            transition: 0.2s;
            font-weight: bold;
            border: 1px solid #ddd;
            border-bottom: 4px solid #ddd;

            img {
                width: 30px;
                max-height: 30px;
                margin: 3px;
            }

            &:hover {
                border-bottom: 4px solid $secondaryColor;
                &.active {
                    border-bottom: 4px solid $secondaryColor;
                }
            }

            &.active {
                border-bottom: 4px solid $primaryColor;
            }
        }
    }
    .Selectable_body {
        .Selectable_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 45px;
            border-bottom: 1px solid #ddd;
            padding: 0 5px;
            cursor: pointer;
            transition: 0.2s;
            text-transform: capitalize;
            font-size: 0.85em;

            &:last-child {
                border-bottom: 1px solid #aaa;
            }

            &:hover {
                background: $primaryColor;
                color: #fff;
            }

            span {
                flex: 1;
            }
        }
    }
}
