@import "styles/variables";

.BreadcrumbContainer {
	display: flex;
    border-top: 0.5px solid #f0f0f0;
    overflow-y: hidden;
    overflow-x: visible;
	height: $breadcrumbHeight;

    .Breadcrumb {
        display: flex;
		width: 100%;
        align-items: center;
        justify-content: space-between;
        height: $breadcrumbHeight;
        padding: 0 30px;

        .BreadcrumbLinkSeparator {
            display: flex;
            align-items: center;
            margin-left: 10px;
            color: #d1d1d1;
        }

        .BreadcrumbLeftSection {
            display: flex;

            .BreadcrumbLocation {
                display: flex;
                align-items: center;
				gap: 8px;

                .BreadcrumbHome {
                    font-size: $l;
                    cursor: pointer;
                    margin: 5px -5px 5px 5px;
                    padding-right: 5px;
					transition: 300ms ease-in-out;

                    &:hover {
                        color: $primaryColor;
                    }
                }

				p {
					margin: 0;
					font-size: $m;
					text-transform: uppercase;
					transition: 300ms ease-in-out;
				}

				&:hover {
                    color: lighten($primaryColor, 10%);
                }
            }

            .BreadcrumbLink {
                display: flex;
                align-items: center;
                font-size: $m;
                text-transform: uppercase;
                margin-left: 10px;

                &.__noMargin {
                    margin-left: 0;
                }

                &:hover {
                    color: lighten($primaryColor, 10%);
                }

                span {
                    font-family: Poppins;
                }
            }
        }

        .BreadcrumbActions {
            display: flex;
            align-items: center;
            justify-content: center;

            .BreadcrumbRangeDatePicker {
                display: flex;
                align-items: center;

                .BreadcrumbPickerText {
                    color: $textColor;
                    font-weight: 700;
                    margin-right: 10px;
                }
            }

            .BreadcrumbSwitch {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 4px;

                .BreadcrumbSwitchText {
                    color: $textColor;
                    font-weight: 700;
                    margin-bottom: 2px;
                    white-space: nowrap;

                    &.__smaller {
                        font-size: $m;
                    }
                }
            }

            .BreadcrumbButton {
                .BreadcrumbButtonSuccess {
                    background-color: #158467;
                    color: #ffffff;
                }
            }

            .BreadcrumbSelect {
                display: flex;
                align-items: center;

                .BreadcrumbSelectText {
                    color: $textColor;
                    font-weight: 700;
                    margin-right: 10px;
                    white-space: nowrap;
                }
            }
        }

        .BreadcrumbSeparator {
            height: 27px;
            width: 1px;
            background-color: #d1d1d1;
            margin: 0 20px;
        }
    }
}

.BreadcrumbMobileActions {
    display: flex;
    align-items: center;
    position: relative;

    .BreadcrumbMobileActionButton {
        position: relative;
    }

    .BreadcrumbMobileActionList {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 45px;
        right: 0;
        min-width: 200px;
        width: 100px;
        background-color: black;
        z-index: 972364;
    }

    .BreadcrumbSeparator {
        display: none;
    }
}

.BreadcrumbMobileAction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    .BreadcrumbMobileActionText {
        margin-right: 10px;
        font-weight: 700;
    }
}

.RangePickerMobile {
    width: 240px;
}

.BreadcrumbMoreActions {
    display: flex !important;
    align-items: center;
    font-size: $xl;
}

.BreadcrumbRangeDatePicker {
    .ant-picker-range-separator {
        transform: rotate(90deg);
    }
}

@media screen and (max-width: 768px) {
    .ant-picker-panels {
        flex-wrap: wrap !important;
    }

    .ant-picker-panel-has-range {
        width: 100%;
    }

    .ant-picker-date-panel {
        width: inherit !important;

        .ant-picker-body {
            .ant-picker-content {
                width: 100% !important;
            }
        }
    }
}

.BreadcrumbSaveButton {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: #158467 !important;
    color: #ffffff !important;
    border: none !important;
    box-shadow: 2px 4px 6px 2px #00000020 !important;

    em {
        margin-left: 10px;
    }

    &:hover {
        background-color: lighten(#158467, 10%) !important;
    }

    &:disabled {
        background-color: #d1d1d1 !important;
    }
}

.BreadcrumbForgetButton {
	background-color: #FF0000 !important;
	color: #FFF !important;
	width: unset;
}