// General App Variables
$primaryColor: #3277A3;
$darkPrimaryColor: #103246;
$lightPrimary: #3f5868;
$secondaryColor: #DB633D;
$lightSecondary: #b8e4f0;
$appBackgroundColor: #fff;
$logoContainerBackground: #151515;
$textColor: #333;
$buttonDisabledBackgroundColor: #BBB;

// Header
$headerHeight: 60px;

// Footer
$footerTextColor: #fff;
$footerHeight: 85px;
$footerBannerHeight: 30px;

// Breadcrumb
$breadcrumbHeight: 40px;

// Screens
$occupiedSpace: calc($breadcrumbHeight + $footerBannerHeight + $footerHeight + $headerHeight);

:export {
    primaryColor: $primaryColor;
    lightPrimary: $lightPrimary;
    secondaryColor: $secondaryColor;
    lightSecondary: $lightSecondary;
	darkPrimaryColor: $darkPrimaryColor;
}

// Containers
$containerBackgroundColor: #fff;
$containerBorderRadius: 0;
$containerPadding: 10px;

// Shadows
$boxShadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
$clickShadow: inset 0 0 5px #aaa;

// Buttons
$buttonHeight: 40px;
$buttonBorderRadius: 8px;
$buttonBackgroundColor: #FFFFFF;
$buttonBackgroundColorInverted: $primaryColor;
$buttonTextColor: #000000;
$buttonTextColorInverted: #FFFFFF;

// Sidebar
$sidebarPrimaryColor: #3277A3;
$sidebarSecondaryColor: #b1b1b1;
$sidebarTextColor: #FFFFFF;
$sidebarMenuBorderRadius: 4px;

// Font sizes
$bodyFontSize: 14px;
$xxs: 6px;
$xs: 8px;
$s: 10px;
$m: 12px;
$ml: 14px;
$l: 16px;
$xl: 20px;
$xxl: 24px;

// Icomoon
$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: '../assets/fonts/Icomoon' !default;

$moon-google-play-path1: "\e900";
$moon-google-play-path2: "\e901";
$moon-google-play-path3: "\e902";
$moon-google-play-path4: "\e903";
$moon-google-play-path5: "\e904";
$moon-google-play-path6: "\e905";
$moon-google-play-path7: "\e906";
$moon-app-store-path1: "\e907";
$moon-app-store-path2: "\e908";
$moon-app-store-path3: "\e909";
$moon-app-store-path4: "\e90a";
$moon-correction: "\e90b";
$moon-tick: "\e90c";
$moon-downloading: "\e90d";
$moon-letter: "\e90e";
$moon-house-outline: "\e90f";
$moon-velocimetro: "\e910";
$moon-stats: "\e911";
$moon-grid: "\e912";
$moon-list: "\e913";
$moon-arquivo: "\e914";
$moon-file: "\e915";
$moon-stats-1: "\e916";
$moon-team: "\e917";
$moon-email: "\e918";
$moon-placeholder: "\e919";
$moon-traje: "\e91a";
$moon-masculino: "\e91b";
$moon-predio-comercial: "\e91c";
$moon-companhia: "\e91d";
$moon-tarefa: "\e91e";
$moon-euro: "\e91f";
$moon-chave-inglesa: "\e920";
$moon-gerenciamento-de-dinheiro: "\e921";
$moon-definicoes: "\e922";
$moon-team-1: "\e923";
$moon-bell: "\e924";
$moon-olho: "\e925";
$moon-olho-fechado: "\e926";
$moon-lapis: "\e927";
$moon-lixeira: "\e928";
$moon-adicionar-acrescentar: "\e929";
$moon-mais: "\e92a";
$moon-baixa: "\e92b";
$moon-ordenar: "\e92c";
$moon-ordenar-1: "\e92d";
$moon-ordenar-2: "\e92e";
$moon-right-chevron: "\e92f";
$moon-print: "\e930";
$moon-repeat: "\e931";
$moon-measure: "\e932";
$moon-stock-history: "\e933";
$moon-custom_icon: "\e934";
$moon-blog: "\e935";
$moon-shuttle: "\e936";
$moon-yahoo: "\e937";
$moon-shapes: "\e938";
$moon-shapes1: "\e939";
$moon-grampo: "\e93a";
$moon-close: "\e93b";
$moon-heart-1: "\e93c";
$moon-user: "\e93d";
$moon-user1: "\e93e";
$moon-user2: "\e93f";
$moon-android: "\e943";
$moon-apple: "\e946";
$moon-newsletter-1: "\e949";
$moon-info-2: "\e94e";
$moon-duplicate: "\e952";
$moon-generate-folder: "\e954";
$moon-download-folder: "\e955";
$moon-shopping-cart1: "\e956";
$moon-sync-folder: "\e95c";
$moon-upload-file: "\e95f";
$moon-upload-folder: "\e960";
$moon-inbox: "\e961";
$moon-save-3: "\e96b";
$moon-diagram1: "\e96c";
$moon-notification: "\e96d";
$moon-package: "\e96e";
$moon-team1: "\e96f";
$moon-paint-brush: "\e971";
$moon-dots-vertical: "\e972";
$moon-calculator: "\e973";
$moon-users: "\e974";
$moon-analysis: "\e975";
$moon-tax: "\e976";
$moon-shopping-bag2: "\e977";
$moon-eye-blocked: "\e978";
$moon-eye: "\e979";
$moon-external-link: "\e97a";
$moon-refund: "\e97b";
$moon-delivery: "\e97e";
$moon-location: "\e97f";
$moon-text-files: "\e980";
$moon-brand: "\e981";
$moon-order: "\e987";
$moon-like: "\e988";
$moon-order-1: "\e989";
$moon-shopping-bag3: "\e98b";
$moon-logout: "\e98d";
$moon-paint: "\e98e";
$moon-customer: "\e98f";
$moon-bell1: "\e992";
$moon-partner: "\e993";
$moon-global: "\e994";
$moon-log: "\e995";
$moon-product-v2: "\e996";
$moon-tag: "\e998";
$moon-diagram: "\e999";
$moon-speedometer1: "\e99b";
$moon-discount: "\e99c";
$moon-shopping-list: "\e99d";
$moon-preferences: "\e99f";
$moon-back1: "\e9a0";
$moon-back: "\e9a1";
$moon-search: "\e9a4";
$moon-pencil-outline: "\e9a6";
$moon-working-briefcase: "\e9a7";
$moon-frame: "\e9a8";
$moon-shopping-cart: "\e9aa";
$moon-trash: "\e9ab";
$moon-house-outline1: "\e9ae";
$moon-refresh: "\e9af";
$moon-arrow-up: "\e9b0";
$moon-plus: "\e9b1";
$moon-close1: "\e9b2";
$moon-correct-symbol: "\e9b5";
$moon-lock: "\e9b6";
$moon-unlock: "\e9b7";
$moon-golf: "\e9b8";
$moon-Menu: "\e9b9";
$moon-user-outline: "\e9ba";
$moon-paper-plane: "\e9bd";
$moon-facebook1: "\e9be";
$moon-instagram: "\e9bf";
$moon-pinterest: "\e9c0";
$moon-twitter: "\e9c1";
$moon-timetable-outline: "\e9c4";
$moon-spanner: "\e9c5";
$moon-eye-outline: "\e9c7";
$moon-speedometer: "\e9ca";
$moon-block: "\e9d6";
$moon-filter: "\e9d7";
$moon-bank-transfer-logo: "\e9db";
$moon-credit-card: "\e9dc";
$moon-credit-cards-payment: "\e9dd";
$moon-tshirt: "\e9df";
$moon-pay: "\e9e1";
$moon-product: "\e9e2";
$moon-commerce-and-shopping1: "\e9e3";
$moon-delivery-truck: "\e9e4";
$moon-upgrade: "\e9e5";
$moon-shipped: "\e9e6";
$moon-box: "\e9e8";
$moon-phone-call: "\e9e9";
$moon-wallet: "\e9ea";
$moon-package1: "\e9eb";
$moon-invoice-1: "\e9ee";
$moon-address: "\e9f0";
$moon-free-delivery: "\e9f1";
$moon-fast-delivery: "\e9f2";
$moon-shop: "\e9f3";
$moon-list1: "\e9f4";
$moon-exchange: "\e9f5";
$moon-distribution: "\e9f6";
$moon-eraser: "\e9f7";
$moon-loudspeaker: "\e9f8";
$moon-mobile-app: "\e9fa";
$moon-connection1: "\e9fb";
$moon-responsive: "\e9fd";
$moon-clock1: "\ea00";
$moon-paypal: "\ea02";
$moon-mail: "\ea03";
$moon-testimonial: "\ea05";
$moon-tax-1: "\ea06";
$moon-shipping-cost: "\ea08";
$moon-clear-filters: "\ea09";
$moon-www: "\ea0b";
$moon-tax-settings: "\ea0f";
$moon-scale: "\ea10";
$moon-customer-1: "\ea13";
$moon-support-tickets: "\ea17";
$moon-ticket-boxes-thinner-01: "\ea19";
$moon-shopping-bag-thicker: "\ea1a";
$moon-star-empty: "\ea1b";
$moon-star-half: "\ea1c";
$moon-star-full: "\ea1d";
$moon-gradient-2: "\ea1f";